[run]
branch = True
source =
    custom_components/marstek_ble
omit =
    custom_components/marstek_ble/entity.py
    custom_components/marstek_ble/schema.py
    custom_components/marstek_ble/products/*

[report]
show_missing = True
skip_covered = False
precision = 1
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
