[run]
branch = True
source =
    custom_components/marstek_ble
    standalone_test
omit =
    custom_components/marstek_ble/products/jupiter.py

[report]
show_missing = True
skip_covered = False
precision = 1
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
